.appConatainer {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}

.main {
  width: 80%;
  background-image: url("./assets/qui-veut-gagner-des-millions-3.jpg");
  background-position: center;
  background-size: cover;
}

.rewards {
  width: 20%;
  display: flex;
  align-items: center;
}

.rewardListItem {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 8px 3rem 8px 8px;
  font-size: large;
}

.rewardListItemAmount:after {
  content: "XAF";
  padding-inline: 5px;
}

.rewardListItem.active {
  background-color: teal;
  border-radius: 5px;
}
